.hidden{
    display: none !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 12px;
    max-width: 800px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tables {
    display: flex;
    justify-content: space-around;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.message_text {
    padding: 3px 5px;
    margin: 2px 5px;
    border-radius: 5px;
}

.is_my_message {
    @extend .message_text;

    background: #84c1ff;
    float: right;
}

.other_message {
    @extend .message_text;
    background: #cfcfcf;
    float: left;
}
