[data-module='chats'] {
	height: 300px;
	position: absolute;
	bottom: 0;
	display: flex;
	margin-left: -20px;

	& > div {
		margin: 0 5px;
	}

	.chat {
		position: relative;
		width: 240px;
		height: 300px;
		border: 1px solid gray;
		border-radius: 5px;

		&_header {
			background: #3490dc;
			padding: 10px;
		}

		&_footer {
			position: absolute;
			bottom: 0;
		}

		&_body {
			overflow: auto;
			height: 216px;
			margin-top: -8px;
			padding: 5px 0;
		}
	}
}
