[data-module='users'] {
	position: absolute;
	width: 300px;
	right: 0;

	.user {
		& > div {
			cursor: pointer;
			background: #3490dc;
			font-size: 20px;

			&:hover {
				background: #0184f0;
			}
		}
	}
}
